<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
	<!--WCF Message Logging, this is more useful then you know...-->
	<diagnostics>
		<messageLogging
		logEntireMessage="true"
		logMalformedMessages="true"
		logMessagesAtServiceLevel="true"
		logMessagesAtTransportLevel="true"
		maxMessagesToLog="3000"
		maxSizeOfMessageToLog="2000000"/>
	</diagnostics>
	<!--END WCF Message Logging-->	  
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
	<system.diagnostics>
		<!--WCF Message Logging, this is more useful then you know...-->
		<sources>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="messages"
			   type="System.Diagnostics.XmlWriterTraceListener"
			   initializeData="c:\debugLog\GuysTest.svclog" />
				</listeners>
			</source>
		</sources>
		<!--END WCF Message Logging-->
		<switches>
			<add name="Arinc.WebSite.Tracing.Switch" value="4" />
		</switches>
		<trace autoflush="true" indentsize="2">
			<listeners />
		</trace>
	</system.diagnostics>
</configuration>